.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .group-name
        = @group.name
      .member-list
        .member-list__indication
          member:
        .member-list__name
          - @group.users.each do |user|
            = user.name

    .chat-main__group-info__right
      = link_to 'edit', class: "chat-main__group-info__right__edit" do
        Edit


  .chat-main__message-list
    = render @messages
  
  .chat-main__message-form
    .message-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message-text', placeholder: 'type a message'
        .message-box
          = f.label :image, class: 'text' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'icon-file'
        = f.submit 'Send', class: 'submit'
