.side-bar
  .side-bar__user-name
    .side-box
      .side-box__user-login
        = current_user.name
      .side-box__contents
        .contents__left
        = link_to new_group_path do
          = icon('far fa-edit',  class: "contents-left")
        .contents__right
        = link_to edit_user_path(current_user) do
          = icon('fas fa-cog',  class: "contents-right")

  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-block
        = link_to group_messages_path(group) do
          .group-block__name
            = group.name
          .group-block__text
            = group.show_last_message
  

  